<header>
  <nav class="navbar navbar-expand-lg navigation-wrap">
    <div class="container">
      <a class="navbar-brand" href="/#"
        ><img decoding="async" src="/images/logo/logo.png"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-stream navbar-toggler-icon"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-inline-flex">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/#">HOME</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              ABOUT
            </a>
            <ul class="dropdown-menu text-center text-lg-start">
              <li>
                <a class="dropdown-item nav-link" href="/#about-nasj">
                  N.A.S.J</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item nav-link"
                  href="#about-jamia-tajushariya"
                >
                  Jamia Tajushariya</a
                >
              </li>
              <li>
                <a class="dropdown-item nav-link" href="/#about-darul-ifta">
                  Darul Ifta</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item nav-link"
                  href="/#about-imam-ahmad-raza-IAEC"
                >
                  Imam Ahmad Raza Islamic And Educational Center</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/alquran">AL QUR'AN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#courses">COURSES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#upcoming-events">EVENTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ACTIVITIES</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              FIND NEARBY
            </a>
            <ul class="dropdown-menu text-center text-lg-start">
              <li>
                <a class="dropdown-item nav-link" href="/find/mosque"
                  >Mousque</a
                >
              </li>
              <li>
                <a class="dropdown-item nav-link" href="/find/dargah">Dargah</a>
              </li>
            </ul>
          </li>

          <li>
            <div class="d-inline-flex p-2">
              <a class="main-btn ms-lg-4 mt-lg-0" href="/course-register">GET ADMISSION</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
