<div class="preloader">
    <img class="img1" src="/images/logo/preloader.png" alt="">
    <img class="img2" src="/images/logo/preloader.png" alt="">
    <p>Having any issue? <a href="">REPORT US</a></p>
</div>