<% layout('/layouts/boilerplate.ejs') -%>

<body>
  <div class="container form-container">
    <h2 class="title mt-4 text-center">Admission Application</h2>
    <form class="admission-form" method="post" action="/course-form-submit">
      <div class="form-section">
        <div class="row">
          <div class="col-md-5 mt-2 mb-2">
            <select
              class="form-select"
              aria-label="Madarsa"
              aria-placeholder="Madarsa"
              name="course[madarsa]"
              id="madarsaDropDown"
            >
              <option value="undefined" selected disabled>
                Select Madarsa
              </option>
              <option value="Jamia Tajush-shariyah">
                Jamia Tajush-shariyah
              </option>
              <option value="Imam Ahmad Raza Islamic and Educational Center">
                Imam Ahmad Raza Islamic and Educational Center
              </option>
            </select>
          </div>
          <div class="col-md mt-2 mb-2">
            <select
              class="form-select"
              aria-label="Class"
              aria-placeholder="Class"
              name="course[courseName]"
              id="classDropDown"
            >
              <option value="undefined" selected disabled>Select Course</option>
              <option value="Maktab">Maktab</option>
              <option value="Alima Class">Alima Course</option>
              <option value="Almiat wa Qira'at (Dars E Nizami)">
                Almiat wa Qira'at (Dars E Nizami)
              </option>
            </select>
          </div>
          <div class="col-md mt-2 mb-2">
            <select
              class="form-select"
              aria-label="Class"
              aria-placeholder="Class"
              name="classToAdmit"
              id="classDropDown"
            >
              <option value="undefined" selected disabled>
                Class to be Admitted
              </option>
              <option value="Awwal">Awwal</option>
              <option value="Duwwam">Duwwam</option>
              <option value="Suwwam">Suwwam</option>
            </select>
          </div>
        </div>
      </div>
      <hr />
      <div class="form-section">
        <h3 class="form-title">Student Details:</h3>
        <div class="row">
          <div class="col-md mt-2 mb-2">
            <input
              type="text"
              class="form-control"
              placeholder="First Name"
              name="studentDetails[firstName]"
            />
          </div>

          <div class="col-md mt-2 mb-2">
            <input
              type="text"
              class="form-control"
              placeholder="Middle Name"
              name="studentDetails[middleName]"
            />
          </div>

          <div class="col-md mt-2 mb-2">
            <input
              type="text"
              class="form-control"
              placeholder="Last Name"
              name="studentDetails[lastName]"
            />
          </div>
        </div>

        <div class="row">
          <div class="col-md mt-2 mb-2 form-group">
            <div class="input-group" id="dateInput">
              <input
                type="text"
                class="form-control"
                id="dateOfBirth"
                placeholder="Date of Birth"
                aria-label="Date of Birth"
                name="studentDetails[dob]"
              />
              <div class="input-group-append">
                <span><i class="fa-solid fa-calendar-days"></i></span>
              </div>
            </div>
          </div>

          <div class="col-md mt-2 mb-2">
            <select
              class="form-select"
              aria-label="Gender"
              aria-placeholder="Gender"
              name="studentDetails[gender]"
            >
              <option value="undefined" selected disabled>Gender</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md mt-2 mb-2">
            <input
              type="number"
              class="form-control"
              id="studentPhoneNumber"
              placeholder="Phone Number"
              name="studentDetails[phoneNo]"
            />
          </div>

          <div class="col-md mt-2 mb-2">
            <input
              type="email"
              class="form-control"
              placeholder="Email ID (Optional)"
              name="studentDetails[emailID]"
            />
          </div>
        </div>

        <div class="row">
          <div class="col-md mt-2 mb-2">
            <select
              class="form-select"
              aria-label="Country"
              aria-placeholder="Country"
              name="studentDetails[country]"
            >
              <option value="undefined" disabled>Country</option>
              <option value="India" selected>India</option>
            </select>
          </div>

          <div class="col-md mt-2 mb-2">
            <select
              class="form-select"
              aria-label="State"
              aria-placeholder="State"
              name="studentDetails[state]"
            >
              <option value="undefined" selected disabled>State</option>
              <option value="Maharashtra" selected>Maharashtra</option>
            </select>
          </div>

          <div class="col-md mt-2 mb-2">
            <select
              class="form-select"
              aria-label="City"
              aria-placeholder="City"
              name="studentDetails[city]"
            >
              <option value="undefined" selected disabled>City</option>
              <option value="Solapur" selected>Solapur</option>
            </select>
          </div>
        </div>
      </div>
      <hr />
      <div class="form-section">
        <h3 class="form-title">Previous Studies:</h3>
        <div class="row">
          <div class="col-md mt-2 mb-2">
            <input
              type="text"
              class="form-control"
              placeholder="Last Institute Attended"
              name="studentDetails[previosStudies][lastInstituteAttended]"
            />
          </div>
        </div>

        <div class="row">
          <div class="col-md mt-2 mb-2">
            <input
              type="text"
              class="form-control"
              placeholder="Books Completed Seprated by comma"
              name="studentDetails[previosStudies][booksCompleted]"
            />
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 mt-2 mb-2">
            <input
              type="text"
              class="form-control"
              placeholder="Qur'an Chapters Completed"
              name="studentDetails[previosStudies][quranChaptersCompleted]"
            />
          </div>
          <div class="admission-form-radio">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="studentDetails[previosStudies][hifz]"
                id="nazra"
                value="false"
                checked
              />
              <label class="form-check-label" for="nazra"> Nazra </label>
            </div>

            <div class="form-check ">
              <input
                class="form-check-input"
                type="radio"
                name="studentDetails[previosStudies][hifz]"
                id="nazra"
                value="true"
              />
              <label class="form-check-label" for="hifz"> Hifz </label>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="form-section">
        <h3 class="form-title">Parent's Details:</h3>

        <div class="row">
          <div class="col-md mt-2 mb-2">
            <input
              type="text"
              class="form-control"
              placeholder="Father's Name"
              name="parentsDetails[fatherName]"
            />
          </div>

          <div class="col-md mt-2 mb-2">
            <input
              type="text"
              class="form-control"
              placeholder="Mother's Name"
              name="parentsDetails[motherName]"
            />
          </div>
        </div>

        <div class="row">
          <div class="col-md mt-2 mb-2">
            <input
              type="text"
              class="form-control"
              placeholder="Occupation"
              name="parentsDetails[occupation]"
            />
          </div>
          <div class="col-md mt-2 mb-2">
            <input
              type="text"
              class="form-control"
              placeholder="Phone Number"
              name="parentsDetails[phoneNo]"
            />
          </div>
          <div class="col-md mt-2 mb-2">
            <input
              type="text"
              class="form-control"
              placeholder="Email ID"
              name="parentsDetails[emailID]"
            />
          </div>
        </div>
      </div>
      <hr />
      <div class="form-section">
        <h3 class="form-title">Address:</h3>
        <h5>Present:</h5>
        <div class="row">
          <div class="col-md mt-2 mb-2">
            <input
              type="text"
              class="form-control"
              placeholder="Flat No./ House No. "
              name="address[present][line1]"
            />
          </div>

          <div class="col-md mt-2 mb-2">
            <input
              type="text"
              class="form-control"
              placeholder="Floor No., Apartment Name, etc. (optional)"
              name="address[present][line2]"
            />
          </div>

          <div class="col-md mt-2 mb-2">
            <input
              type="text"
              class="form-control"
              placeholder="Street Name, Locality, etc"
              name="address[present][line3]"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md mt-2 mb-2">
            <select
              class="form-select"
              aria-label="Country"
              aria-placeholder="Country"
              name="address[present][country]"
            >
              <option value="undefined" disabled>Country</option>
              <option value="India" selected>India</option>
            </select>
          </div>

          <div class="col-md mt-2 mb-2">
            <select
              class="form-select"
              aria-label="State"
              aria-placeholder="State"
              name="address[present][state]"
            >
              <option value="undefined" selected disabled>State</option>
              <option value="Maharashtra" selected>Maharashtra</option>
            </select>
          </div>

          <div class="col-md mt-2 mb-2">
            <select
              class="form-select"
              aria-label="City"
              aria-placeholder="City"
              name="address[present][city]"
            >
              <option value="undefined" selected disabled>City</option>
              <option value="Solapur" selected>Solapur</option>
            </select>
          </div>
        </div>

        <h5 class="mt-4">Permanent:</h5>
        <div class="mx-1 row">
          <div class=" form-check admission-form-check">
            
            <label class="form-check-label" for="sameAddress">
              Same As Above?
            </label>
            <input
              class="form-check-input"
              type="checkbox"
              id="sameAddress"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md mt-2 mb-2">
            <input
              type="text"
              class="form-control"
              placeholder="Flat No./ House No. "
              name="address[permanent][line1]"
            />
          </div>

          <div class="col-md mt-2 mb-2">
            <input
              type="text"
              class="form-control"
              placeholder="Floor No., Apartment Name, etc. (optional)"
              name="address[permanent][line2]"
            />
          </div>

          <div class="col-md mt-2 mb-2">
            <input
              type="text"
              class="form-control"
              placeholder="Street Name, Locality, etc"
              name="address[permanent][line3]"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md mt-2 mb-2">
            <select
              class="form-select"
              aria-label="Country"
              aria-placeholder="Country"
              name="address[permanent][country]"
            >
              <option value="undefined" disabled>Country</option>
              <option value="India" selected>India</option>
            </select>
          </div>

          <div class="col-md mt-2 mb-2">
            <select
              class="form-select"
              aria-label="State"
              aria-placeholder="State"
              name="address[permanent][state]"
            >
              <option value="undefined" selected disabled>State</option>
              <option value="Maharashtra" selected>Maharashtra</option>
            </select>
          </div>

          <div class="col-md mt-2 mb-2">
            <select
              class="form-select"
              aria-label="City"
              aria-placeholder="City"
              name="address[permanent][city]"
            >
              <option value="undefined" selected disabled>City</option>
              <option value="Solapur" selected>Solapur</option>
            </select>
          </div>
        </div>
      </div>
      <hr />
      <div class="row d-flex align-items-center justify-content-center">
        <button class="main-btn mb-4 col-5 col-md-2" type="submit">
          Submit
        </button>
      </div>
    </form>

    <script src="/js/courseRegistration.js"></script>
  </div>
</body>
