<% layout('/layouts/boilerplate.ejs') -%>

<body>
    <div class="container form-conatiner">
    <h2 class="title mt-4 text-center">Ask Question</h2>
        <form action="/fatawa-form-submit" method="post" class="fatawa-form">
            <div class="form-section">
                <div class="row">
                    
                </div>
            </div>
        </form>
    </div>
</body>