
<% layout('/layouts/boilerplate.ejs') -%>
  

  <body>
    

    <section id="home">
      <div class="container-fluid px-0 top-banner">
        <div class="container top-text-container">
          <div class="row">
            <div class="col-md-7">
              <h1>Naojawanane Ahle Sunnat Jamat</h1>
              <h1 class="urdu-font">نوجوانان اہل سنّت جماعت</h1>
              <h3>Farman E Tajush'shariyah</h3>
              <p>
                We will Preach what our religion tells us! If you act
                accordingly, then it is good for you, if someone does not, the
                harm is not ours; the loss is his!
              </p>
              <div class="mt-4 top-btns">
                <button class="main-btn">
                  Join Us &nbsp;<i class="fa-solid fa-plus"></i>
                </button>
                <button class="white-btn">
                  Contact &nbsp;<i class="fa-solid fa-envelope"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="background-black-overlay"></div>
    </section>

    <section id="about-nasj">
      <div class="about-section wrapper">
        <div class="container">
          <div class="row align-items-center container">
            <div class="col-lg-7 mb-lg-0 mb-5 about-image">
              <div class="card border-0">
                <img src="images/bg.jpg" class="img-fluid" />
              </div>
            </div>
            <div class="col-lg-5 col-md-12 text-sec">
              <h2>Naojawanane Ahle Sunnat Jamat</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Expedita cum quaerat vero, reprehenderit, perspiciatis adipisci
                doloribus earum magni quidem dicta voluptas sequi et quia saepe
                atque maxime in voluptatem nostrum! Suscipit quod porro sequi
                alias? Explicabo impedit repudiandae molestiae deleniti facilis
                cumque esse ipsam natus ex illum minus dolor soluta sed nemo
                dignissimos ducimus ullam eos, est quisquam corporis. Libero.
              </p>
              <button class="main-btn mt-4">Learn More</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="about-jamia-tajushariya">
      <div class="about-section wrapper">
        <div class="container">
          <div class="row align-items-center container">
            <div class="col-lg-5 col-md-12 text-sec">
              <h2>Jamia Tajushariya</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Expedita cum quaerat vero, reprehenderit, perspiciatis adipisci
                doloribus earum magni quidem dicta voluptas sequi et quia saepe
                atque maxime in voluptatem nostrum! Suscipit quod porro sequi
                alias? Explicabo impedit repudiandae molestiae deleniti facilis
                cumque esse ipsam natus ex illum minus dolor soluta sed nemo
                dignissimos ducimus ullam eos, est quisquam corporis. Libero.
              </p>
              <button class="main-btn mt-4">Learn More</button>
            </div>

            <div class="col-lg-7 mb-lg-0 mb-5 about-image">
              <div class="card border-0">
                <img src="images/bg.jpg" class="img-fluid" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="about-darul-ifta">
      <div class="about-section wrapper">
        <div class="container">
          <div class="row align-items-center container">
            <div class="col-lg-7 mb-lg-0 mb-5 about-image">
              <div class="card border-0">
                <img src="images/bg.jpg" class="img-fluid" />
              </div>
            </div>
            <div class="col-lg-5 col-md-12 text-sec">
              <h2>Darul Ifta</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Expedita cum quaerat vero, reprehenderit, perspiciatis adipisci
                doloribus earum magni quidem dicta voluptas sequi et quia saepe
                atque maxime in voluptatem nostrum! Suscipit quod porro sequi
                alias? Explicabo impedit repudiandae molestiae deleniti facilis
                cumque esse ipsam natus ex illum minus dolor soluta sed nemo
                dignissimos ducimus ullam eos, est quisquam corporis. Libero.
              </p>
              <button class="main-btn mt-4">Learn More</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="about-imam-ahmad-raza-IAEC">
      <div class="about-section wrapper">
        <div class="container">
          <div class="row align-items-center container">
            <div class="col-lg-5 col-md-12 text-sec">
              <h2>Imam Ahmad Raza Islamic And Educational Center</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Expedita cum quaerat vero, reprehenderit, perspiciatis adipisci
                doloribus earum magni quidem dicta voluptas sequi et quia saepe
                atque maxime in voluptatem nostrum! Suscipit quod porro sequi
                alias? Explicabo impedit repudiandae molestiae deleniti facilis
                cumque esse ipsam natus ex illum minus dolor soluta sed nemo
                dignissimos ducimus ullam eos, est quisquam corporis. Libero.
              </p>
              <button class="main-btn mt-4">Learn More</button>
            </div>

            <div class="col-lg-7 mb-lg-0 mb-5 about-image">
              <div class="card border-0">
                <img src="images/bg.jpg" class="img-fluid" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="courses">
      <div class="explore-course wrapper">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="text-content text-center">
                <h2>Admission Open!</h2>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
                  adipisci, earum porro pariatur quidem, deleniti ea ipsum
                  impedit nihil distinctio, atque voluptates facilis ducimus
                  nemo omnis laborum. Amet, ad omnis. Ipsa aspernatur dicta
                  harum quia numquam illum aperiam, nulla eligendi dignissimos
                  maiores soluta, dolor neque voluptate, minima deleniti.
                </p>
              </div>
            </div>
          </div>
          <div class="row pt-4">
            <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
              <div class="card course-card">
                <div class="py-3">
                  <h3>Alima Course</h3>
                  <h5>One Year Diploma in Islamic Study</h5>
                  <div class="row mb-4">
                    <div class="col-6">
                      <p>Tajwid ul Qur'an</p>
                      <p>Tafseer</p>
                      <p>Hadith</p>
                      <p>Tasawwuf</p>
                    </div>
                    
                    <div class="col-6">
                      <p>Aqida</p>
                      <p>Arabic Grammer</p>
                      <p>Family Managment</p>
                      <p>Fiqha</p>
                    </div>
                  
                  </div>
                  <button class="mt-4 main-btn">Register Now</button>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
              <div class="card course-card">
                <div class="py-3">
                  <h3>Alima Course</h3>
                  <h5>One Year Diploma in Islamic Study</h5>
                  <div class="row mb-4">
                    <div class="col-6">
                      <p>Tajwid ul Qur'an</p>
                      <p>Tafseer</p>
                      <p>Hadith</p>
                      <p>Tasawwuf</p>
                    </div>
                    
                    <div class="col-6">
                      <p>Aqida</p>
                      <p>Arabic Grammer</p>
                      <p>Family Managment</p>
                      <p>Fiqha</p>
                    </div>
                  </div>
                    <a class="mt-4 main-btn" href="/course-register?course-name=Alima Course">Register Now</a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
              <div class="card course-card">
                <div class="py-3">
                  <h3>Alima Course</h3>
                  <h5>One Year Diploma in Islamic Study</h5>
                  <div class="row mb-4">
                    <div class="col-6">
                      <p>Tajwid ul Qur'an</p>
                      <p>Tafseer</p>
                      <p>Hadith</p>
                      <p>Tasawwuf</p>
                    </div>
                    
                    <div class="col-6">
                      <p>Aqida</p>
                      <p>Arabic Grammer</p>
                      <p>Family Managment</p>
                      <p>Fiqha</p>
                    </div>
                  
                  </div>
                  <button class="mt-4 main-btn">Register Now</button>
                </div>
              </div>
            </div>            
          </div>
        </div>
      </div>
    </section>

    <section id="upcoming-events">
      <div class="wrapper upcoming-events-section">
        <div class="container text-center">
          <div class="text-center pb-4">
            <h2>Upcoming Events</h2>
          </div>
          <div class="row">
            <div class="col-sm-12 col-lg-10 offset-lg-1">
              <div
                id="carouselExampleDark"
                class="carousel slide"
                data-bs-ride="carousel"
              >
                <div class="carousel-indicators">
                  <button
                    type="button"
                    data-bs-target="#carouselExampleDark"
                    data-bs-slide-to="0"
                    class="active"
                    aria-current="true"
                    aria-label="Slide 1"
                  ></button>
                  <button
                    type="button"
                    data-bs-target="#carouselExampleDark"
                    data-bs-slide-to="1"
                    aria-label="Slide 2"
                  ></button>
                  <button
                    type="button"
                    data-bs-target="#carouselExampleDark"
                    data-bs-slide-to="2"
                    aria-label="Slide 3"
                  ></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="carousel-caption">
                      <h3>Azmat E Gaus E Azam</h3>
                      <p class="note">(Only of Ladies)</p>
                      <p>
                        <b>Scholar: </b>Shagufta Fatema Annajiya
                        <br />
                        <b>Venue: </b>Raza Tailor's, Maulana Azad Chowk, Nayi
                        Zindagi, Solapur
                      </p>
                      <h5>
                        <b>Date: </b>13th October 2024, Sunday
                        <br />
                        <b>Time: </b>02:30 to 03:30
                      </h5>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="carousel-caption">
                      <h3>Azmat E Gaus E Azam</h3>
                      <p class="note">(Only of Ladies)</p>
                      <p>
                        <b>Scholar: </b>Shagufta Fatema Annajiya
                        <br />
                        <b>Venue: </b>Raza Tailor's, Maulana Azad Chowk, Nayi
                        Zindagi, Solapur
                      </p>
                      <h5>
                        <b>Date: </b>13th October 2024, Sunday
                        <br />
                        <b>Time: </b>02:30 to 03:30
                      </h5>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="carousel-caption">
                      <h3>Azmat E Gaus E Azam</h3>
                      <p class="note">(Only of Ladies)</p>
                      <p>
                        <b>Scholar: </b>Shagufta Fatema Annajiya
                        <br />
                        <b>Venue: </b>Raza Tailor's, Maulana Azad Chowk, Nayi
                        Zindagi, Solapur
                      </p>
                      <h5>
                        <b>Date: </b>13th October 2024, Sunday
                        <br />
                        <b>Time: </b>02:30 to 03:30
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="show-courses">
      <div class="show-courses">
        <div class="container show-course-text">
          <div class="row text-center">
            <div class="col-lg-9 col-md-12">
              <h2>Join us in Good Deeds</h2>
            </div>
            <div class="col-lg-3 col-md-12 mt-lg-0 mt-4">
              <button class="main-btn">Donate Us</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="newslettar">
      <div class="newslettar wrapper">
        <div class="container">
          <div class="row">
            <div class="sol-sm-12">
              <div class="text-content text-center pb-4">
                <h2>Stay Updated with N.A.S.J.</h2>
                <p>
                  Sign up for our newsletter and be the first to know about our
                  upcoming courses, our activities, and upcoming events.
                </p>
              </div>
              <form class="newsletter">
                <div class="row">
                  <div class="col-md-8 col-12">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Email Address here"
                      name="email"
                    />
                  </div>
                  <div class="col-md-4 col-12 mb-4">
                    <button class="main-btn" type="submit">Subscribe</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    
    <!--- link JS -->
  </body>
</html>
