
<% layout('/layouts/boilerplate.ejs') -%>
  

  <body>
    
    <section id="home">
      <div class="container-fluid px-0 top-banner">
        <div class="container top-text-container">
          <div class="row">
            <div class="col-md-7">
              <h1>Naojawanane Ahle Sunnat Jamat</h1>
              <h1 class="urdu-font">نوجوانان اہل سنّت جماعت</h1>
              <h3>Farman E Tajush'shariyah</h3>
              <p>
                We will Preach what our religion tells us! If you act
                accordingly, then it is good for you, if someone does not, the
                harm is not ours; the loss is his!
              </p>
              <div class="mt-4 top-btns">
                <button class="main-btn">
                  Join Us &nbsp;<i class="fa-solid fa-plus"></i>
                </button>
                <button class="white-btn">
                  Contact &nbsp;<i class="fa-solid fa-envelope"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="about-nasj">
      <div class="about-section wrapper">
        <div class="container">
          <div class="row align-items-center container">
            <div class="col-lg-7 mb-lg-0 mb-5 about-image">
              <div class="card border-0">
                <img src="images/bg.jpg" class="img-fluid" />
              </div>
            </div>
            <div class="col-lg-5 col-md-12 text-sec">
              <h2>Naojawanane Ahle Sunnat Jamat</h2>
              <p>
                Saal 2022 Me Shahar Solapur Ke Kuch Sunni Naujawano Ne Milkar Ek Sath Ek Tarkeeb Banayi Ke Shahar Mein Ahle Sunnat Wa Jamaat (Maslak E Alahazrat) Ki Soch Wa Fikr Per Kaam Hona Bahut Zaruri Hai Aur Waqt Ki Aham Zarurat Hai.
Isi Silsile Mein Naujawano Ne Ek Meeting Bulayi, Jismein Shahar Solapur Ke Aksar Sunni Naujawan Maujood The. Sab Ki Ek Rai Se Sunni Naujawano Ka Ek Group Banaya Gaya Jiska Naam Naujawanane Ahale Sunnat Wa Jamaat Trust ( NASJ ) Rakha Gaya.
Yah Meeting Baroz Budh (12/10/2012) Baad Namaz E Isha Ulmae Ahle Sunnat Solapur Ki Sarparasti Mein Bargarh E Shahenshahe Solapur Hazrat Syed Shah Zahoor Qadri Rahmtullaalai Ki Bargarh Mein Munakkad Hui.
Tanzeem Kayam Hone Ke Baad Digar Meetinge Hui Aur Usmein Shahar Mein Kiye Jane Wale Kamon Per Tafsira Kiya Gaya Aur Tay Paya Ke Shahar Solapur Mein Bacchon Ke Liye Ahle Sunnat Wa jamaat Ka Syllabus Ke Sath Padhaya Jane Wala Maktab Kayam Hona Zaruri Hai Jisko Pura Karte Huye Naujawano Ki Taraf Se Imam Ahmad Raza Islamic and Educational Center (Digital Maktab) Kerala Ke Muallim- Muallima  Aur  Islamic Board Of India Ke Zariye Shuru Kiya Gaya. Alhamdulillah.
Iske Baad Shahar Mein Mukhtalif Masjidon Mein Ijtema Karna Aur Khwateene Islam Ka Haftawari Ijtema karna Aur Shahar Mein Sunni Masjidon Mein Jahan Per Zarurat Ho Vahan Imamat Ke Liye Motebar Sunni Ulama Ikram Ko Lana. Alhumdulillah Kaafi Motebar Muftiyaane Kiram Ulamae Kiram Ko Solapur Shahar Me Dini Khidmat Anjaam Dene Ke Liye Laya Gaya.
Iske Baad Shahar Mein Darul Ifta Ahle Sunnat Ko Kayam Kiya Gaya Jismein Sunniyon Ke Masale Masail Hal Kiye Jaate Hain Fir Uske Baad Aalimiyat Ki Talim Ke Liye Jamia Tajushariya Ko Kayam Kiya Gaya.
Maktab Ki Talim Ke Sath Sath Khawateen Ke Liye Ek Saal Ka Diploma In Islamic Studies Ka Course Shuru Kiya Gaya Aur Alhamdulillah Jald Hi Shahar Mein Ahle Sunnat Ka School Bhi Banaya jayega inshaAllah Ta'ala.
              </p>
              <button class="main-btn mt-4">Learn More</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="about-jamia-tajushariya">
      <div class="about-section wrapper">
        <div class="container">
          <div class="row align-items-center container">
            <div class="col-lg-5 col-md-12 text-sec">
              <h2>Jamia Tajushariya</h2>
              <p>
                Solapur Me Deeni Kaam Karne Wali Tanzeem Naujawanane Ahle Sunnat Wa Jamaat Trust Aur  Ulama E  Ahle Sunnat Ke Zere Sarparasti Mein Jamia Tajush-Shariya Ko Solapur Shahar Mein Shuru Kiya Gaya Hai. Ismein Alimiyat Aur Qirat Ko Sikhaya Aur Padhaya Jayega. Talibe Ilm Ke Liye Behtarin Intezamat Kiye gaye Hain Jaisa Ke Desk White Board Projector Wagairah. Fil Waqt Yah Courses Gair Rihaish Taur Per Chalaye Jaate Hain. Jald InshaAllah Rihaish Ka Bhi Intezaam Kiya Jayega.

              </p>
              <button class="main-btn mt-4">Learn More</button>
            </div>

            <div class="col-lg-7 mb-lg-0 mb-5 about-image">
              <div class="card border-0">
                <img src="images/JamiaTajushariya/image1.png" class="img-fluid" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="about-darul-ifta">
      <div class="about-section wrapper">
        <div class="container">
          <div class="row align-items-center container">
            <div class="col-lg-7 mb-lg-0 mb-5 about-image">
              <div class="card border-0">
                <img src="images/DarulIfta/image1.png" class="img-fluid" />
              </div>
            </div>
            <div class="col-lg-5 col-md-12 text-sec">
              <h2>Darul Ifta Ahle Sunnat</h2>
              <p>
                Solapur Shahar Mein Deeni Kaam Karne Wali Tanzeem NASJ Trust Ke Zariye Ahtemam Aur Ulmae Ahle Sunnat Ke Zere Sarparasti Mein Darul Ifta Ka Agaaz Kiya Gaya.
Ismein Sunniyon Ke Masale Masail Hal Kiye Jaate Hain Aur Tahriri Taur Per Dalail Ki Raushni Mein Sawalon Ke Jawabat Fatawe Ki Shakal Mein Diye Jaate Hain. Alhumdulillah.
              </p>
              <button class="main-btn mt-4">Learn More</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="about-imam-ahmad-raza-IAEC">
      <div class="about-section wrapper">
        <div class="container">
          <div class="row align-items-center container">
            <div class="col-lg-5 col-md-12 text-sec">
              <h2>Imam Ahmad Raza Islamic And Educational Center</h2>
              <p>
                Ahtemam Aur Ulama E Ahle Sunnat Ke Zere Sarparasti Mein Imam Ahmad Raza Islamic and Educational Center Banaya Gaya Hai.
Ye Center Islamic Board Of India Delhi Ke Ahle Sunnat Wa Jamaat Ke Syllabus Ke Mutabik Padhaya Jata Hai Ismein Kerala Se Aaye Muallim Aur Muallima Behtareen Tarike Se Bacchon Ko Deeni Talim ( Tajweed ul Quran, Kitab ul Aquaid, Kitab ul Akhlakh,  Kitab ul Fiqh ) Se Arasta Karte Hain Ismein Bacchon Ke Liye Behtarin Intezaam Kiya Gaya Hai Jaisa Ke Desk, White Board, Projector, etc. Maktab Main Admission Lene Wale Bacchon Ko Uniform, Bag, Topi/Makhani Syllabus Books Di Jaati Hai.
Shahar Mein Yah Pahla Digital Maktab Hai Jismein Projector Ke Zariye Digitally Padhaya Jata Hai


              </p>
              <button class="main-btn mt-4">Learn More</button>
            </div>

            <div class="col-lg-7 mb-lg-0 mb-5 about-image">
              <div class="card border-0">
                <img src="images/IARIEC/image1.png" class="img-fluid" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="courses">
      <div class="explore-course wrapper">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="text-content text-center">
                <h2>Admission Open!</h2>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
                  adipisci, earum porro pariatur quidem, deleniti ea ipsum
                  impedit nihil distinctio, atque voluptates facilis ducimus
                  nemo omnis laborum. Amet, ad omnis. Ipsa aspernatur dicta
                  harum quia numquam illum aperiam, nulla eligendi dignissimos
                  maiores soluta, dolor neque voluptate, minima deleniti.
                </p>
              </div>
            </div>
          </div>
          <div class="row pt-4">
            <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
              <div class="card course-card">
                <div class="py-3">
                  <h3>Alima Course</h3>
                  <h5>One Year Diploma in Islamic Study</h5>
                  <div class="row mb-4">
                    <div class="col-6">
                      <p>Tajwid ul Qur'an</p>
                      <p>Tafseer</p>
                      <p>Hadith</p>
                      <p>Tasawwuf</p>
                    </div>
                    
                    <div class="col-6">
                      <p>Aqida</p>
                      <p>Arabic Grammer</p>
                      <p>Family Managment</p>
                      <p>Fiqha</p>
                    </div>
                  
                  </div>
                  <button class="mt-4 main-btn">Register Now</button>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
              <div class="card course-card">
                <div class="py-3">
                  <h3>Alima Course</h3>
                  <h5>One Year Diploma in Islamic Study</h5>
                  <div class="row mb-4">
                    <div class="col-6">
                      <p>Tajwid ul Qur'an</p>
                      <p>Tafseer</p>
                      <p>Hadith</p>
                      <p>Tasawwuf</p>
                    </div>
                    
                    <div class="col-6">
                      <p>Aqida</p>
                      <p>Arabic Grammer</p>
                      <p>Family Managment</p>
                      <p>Fiqha</p>
                    </div>
                  </div>
                    <a class="mt-4 main-btn" href="/course-register?course-name=Alima Course">Register Now</a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
              <div class="card course-card">
                <div class="py-3">
                  <h3>Alima Course</h3>
                  <h5>One Year Diploma in Islamic Study</h5>
                  <div class="row mb-4">
                    <div class="col-6">
                      <p>Tajwid ul Qur'an</p>
                      <p>Tafseer</p>
                      <p>Hadith</p>
                      <p>Tasawwuf</p>
                    </div>
                    
                    <div class="col-6">
                      <p>Aqida</p>
                      <p>Arabic Grammer</p>
                      <p>Family Managment</p>
                      <p>Fiqha</p>
                    </div>
                  
                  </div>
                  <button class="mt-4 main-btn">Register Now</button>
                </div>
              </div>
            </div>            
          </div>
        </div>
      </div>
    </section>

    <section id="upcoming-events">
      <div class="wrapper upcoming-events-section">
        <div class="container text-center">
          <div class="text-center pb-4">
            <h2>Upcoming Events</h2>
          </div>
          <div class="row">
            <div class="col-sm-12 col-lg-10 offset-lg-1">
              <div
                id="carouselExampleDark"
                class="carousel slide"
                data-bs-ride="carousel"
              >
                <div class="carousel-indicators">
                  <button
                    type="button"
                    data-bs-target="#carouselExampleDark"
                    data-bs-slide-to="0"
                    class="active"
                    aria-current="true"
                    aria-label="Slide 1"
                  ></button>
                  <button
                    type="button"
                    data-bs-target="#carouselExampleDark"
                    data-bs-slide-to="1"
                    aria-label="Slide 2"
                  ></button>
                  <button
                    type="button"
                    data-bs-target="#carouselExampleDark"
                    data-bs-slide-to="2"
                    aria-label="Slide 3"
                  ></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="carousel-caption">
                      <h3>Azmat E Gaus E Azam</h3>
                      <p class="note">(Only of Ladies)</p>
                      <p>
                        <b>Scholar: </b>Shagufta Fatema Annajiya
                        <br />
                        <b>Venue: </b>Raza Tailor's, Maulana Azad Chowk, Nayi
                        Zindagi, Solapur
                      </p>
                      <h5>
                        <b>Date: </b>13th October 2024, Sunday
                        <br />
                        <b>Time: </b>02:30 to 03:30
                      </h5>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="carousel-caption">
                      <h3>Azmat E Gaus E Azam</h3>
                      <p class="note">(Only of Ladies)</p>
                      <p>
                        <b>Scholar: </b>Shagufta Fatema Annajiya
                        <br />
                        <b>Venue: </b>Raza Tailor's, Maulana Azad Chowk, Nayi
                        Zindagi, Solapur
                      </p>
                      <h5>
                        <b>Date: </b>13th October 2024, Sunday
                        <br />
                        <b>Time: </b>02:30 to 03:30
                      </h5>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="carousel-caption">
                      <h3>Azmat E Gaus E Azam</h3>
                      <p class="note">(Only of Ladies)</p>
                      <p>
                        <b>Scholar: </b>Shagufta Fatema Annajiya
                        <br />
                        <b>Venue: </b>Raza Tailor's, Maulana Azad Chowk, Nayi
                        Zindagi, Solapur
                      </p>
                      <h5>
                        <b>Date: </b>13th October 2024, Sunday
                        <br />
                        <b>Time: </b>02:30 to 03:30
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="show-courses">
      <div class="show-courses">
        <div class="container show-course-text">
          <div class="row text-center">
            <div class="col-lg-9 col-md-12">
              <h2>Join us in Good Deeds</h2>
            </div>
            <div class="col-lg-3 col-md-12 mt-lg-0 mt-4">
              <button class="main-btn">Donate Us</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="newslettar">
      <div class="newslettar wrapper">
        <div class="container">
          <div class="row">
            <div class="sol-sm-12">
              <div class="text-content text-center pb-4">
                <h2>Stay Updated with N.A.S.J.</h2>
                <p>
                  Sign up for our newsletter and be the first to know about our
                  upcoming courses, our activities, and upcoming events.
                </p>
              </div>
              <form class="newsletter">
                <div class="row">
                  <div class="col-md-8 col-12">
                    <input
                      type="number"
                      class="form-control"
                      placeholder="Phone Number Here"
                      name="phoneNo"
                    />
                  </div>
                  <div class="col-md-4 col-12 mb-4">
                    <button class="main-btn" type="submit">Subscribe</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--- link JS -->
  </body>

</html>
